// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// $bleumarine: #0B132B;
// $violet: #45315D;
// $red2: #FF2400;
// $saumon: #FF9280;
// $gris: #F2F4FB;

$bleumarine: #520556;
$violet: #8b104e;
$red2: #ca431d;
$saumon: #ff9900;
$gris: #F2F4FB;
