#title {
  font-size: 36px;
}

#versCategories {
  cursor: pointer;
}

#separateur {
  border-right: 1px solid white;
}

#fermer {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 3px 4px;
  cursor: pointer;
}

#fermer i {
  font-size: 16px;
}

.conteneur-ajout {
  margin: 30px 160px;
  color: white;
  fill: currentColor;
}

.conteneur-ajout p {
  text-align: center;
}

.display-categories {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 330px;
  background-color: $bleumarine;
}

.fond-gris {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 ,0 ,0, 0.65);
}

.from-titre {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;

}

.where-from {
  margin: 5px;
}

.fas {
  font-size: 60px;
}

.fab {
  font-size: 70px;
}

.item-categories {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picto-ajout {
    background-color: $bleumarine;
    color: white;
    border: 0px solid transparent;
    transition: 0.3s;
}

.picto-ajout:hover {
  transform: scale(1.05);
  cursor: pointer;
}
