// FOOTER BLEU
.conteneur-memories {
  margin: 20px 150px 50px 150px;
}

#title {
  font-size: 36px;
}

#versCategories {
  cursor: pointer;
}

#separateur {
  border-right: 1px solid white;
}

#fermer {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 3px 4px;
  cursor: pointer;
}

#fermer i {
  font-size: 16px;
}

.conteneur-ajout {
  margin: 30px 160px;
  color: white;
}

.conteneur-ajout p {
  text-align: center;
}

.display-categories {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 330px;
  background-color: $bleumarine;
}

.fond-gris {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 ,0 ,0, 0.65);
}

.from-titre {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;

}

.fas {
  font-size: 60px;
}

.fab {
  font-size: 70px;
}

.item-categories {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-categories i {
  transition: 0.3s;
}
.item-categories i:hover {
  cursor: pointer;
  transform: scale(1.05)
}

// SMALL FOOTER BLEU

.small-conteneur-ajout {
  margin: 10px 100px;
  color: white;
}

.small-display-categories {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-color: $bleumarine;
}

.small-item-categories {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-item-categories i {
  transition: 0.3s;
}
.small-item-categories i:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.selected-picto {
  color: $saumon;
}


// ORDER D'APPARITION

#mySmallFooter {
  z-index: 2000;
}

#fermer-modal-ajout {
  color: black;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#fermer-modal-ajout i {
  font-size: 16px;
}


// Alerte

.alert p {
  margin: 0px;
}

.saumon {
  background-color: $saumon;
  opacity: 0.9;
  border-style: none;
  border-radius: 0px;
}
