.flex-center {
  display: block;
  margin: auto;
  width: 450px;
  margin-top: 50px;
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  padding: 40px;
}


// tot_box

.num-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  overflow-wrap: break-word;
}

@media (max-width:768px){
  .num-box{
    flex-direction: column;
  }
}


