// banner
.blue {
  background-color: $red2;
}

.banner {
  position: relative;
  color: white;
  text-align: center;
  height: 200px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

img#boxes {
  position: absolute;
  right: 10px;
  top:120px;
  height: 450px;
}

img#picture {
  position: absolute;
  left: 100px;
  top:370px;
  height: 180px;
}

// bouton discover
section {
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#discover {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

button#discover {
  position: absolute;
  bottom: 70px;
  display: block;
  width: 65px;
  height: 65px;
  border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

button#discover:before {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  border: 2px solid black;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// bandes dans la home
.large-container {
  padding: 40px;
}

.wrapper {
  margin-left: 51px;
  margin-right: 51px;
  display: flex;
  align-items: center;
  background: cover!important;
}

.container-box-left{
  height: 290px;
  width: 400px;
  color: white;
  padding: 40px;
}
.container-right {
  max-width: 75%;
  text-align: center;
  flex-grow: 1;
}

.container-box-right {
  height: 290px;
  width: 400px;
  color: white;
  padding: 40px;
  .fab {
  font-size: 130px !important;
}
}

.container-left {
  max-width: 75%;
  text-align: center;
  flex-grow: 1;
}

.wrapper h1 {
  font-size: 70px;
  color: white;
}

.wrapper p {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

i {
  font-size: 150px;
}


// logos réseaux

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// couleurs
.red {
  background-color: $red2;
}
.saumon {
  background-color: $saumon;
}
.grey {
  background-color: $gris;
}
.violet {
  background-color: $violet;
}

// sign up

.button-container {
  text-align: center;
  height: 20vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.padding{
  padding: 40px;
}

.margin {
  margin-left: 100px;
  margin-top: 60px;
}

