.container {
  margin-top: 20px !important;
}

.wrapper-box {
  display: flex;
  justify-content: center;
}

.affichage-box {
  margin: 0px 15px;
}

.lien-to-box {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
}

.stamp-right {
  position: absolute;
  bottom: 15px;
  right: 60px;
  height: 55px !important;
  width: 55px !important;
  p {
    font-size: 15px;
  }
}

.stamp-left {
  position: absolute;
  bottom: 15px;
  left: 60px;
  height: 55px !important;
  width: 55px !important;
  p {
    font-size: 15px;
  }
}

.ecart-box {
  margin-left: 40px;
  margin-right: 40px;
}
