// PROFILE BANNER

.profile-banner {
  width: 100vw;
  height: 250px;
  background-color: $bleumarine;
}

.conteneur-profile-banner {
  margin: 20px 250px;
  color: white;
  text-align: center;
}

.card-profile-logo {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteneur-profile-banner h2 {
  padding: 10px 0px 0px 0px;
}

.profile-banner-logo {
  height: 100px;
  width: 100px;
}

.profile-banner-logo-fb {
  height: 70px;
  width: 70px;
}

.profile-banner-logo-spotify {
  height: 85px;
  width: 85px;
}

.profile-banner-logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.profile-banner-logo-fb:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.profile-banner-logo-spotify:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.fa-check-circle {
  color: green;
  font-size: 24px;
}

.fa-times-circle {
  color: red;
  font-size: 24px;
}


// PROFIL PAGE

.conteneur-profile-page {
  margin: 20px 50px;
}

.profile-picture {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-picture-big {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.profile-informations-personnelles {
  height: 300px;
  border: 1px solid black;
  background-color: #F2F4FB;
  padding: 20px 40px;
}

.profile-informations-personnelles h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
