<div class="dashboard-banner">
  <div class="total-memories">
    <h2>You currently have <%= pluralize @memories.count, "memory" %></h2>
  </div>
  <div class="conteneur">
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <p><%= pluralize @memories.count, "memory" %> Musiques</p>
      </div>
      <div class="col-md-2">
        <p>12 Photos</p>
      </div>
      <div class="col-md-2">
        <p>1 Video</p>
      </div>
      <div class="col-md-2">
        <p>3 Quotes</p>
      </div>
    </div>
  </div>
</div>
