<% if notice %>
  <div id="sweet-alert-demo"></div>
<% end %>
<% if alert %>
  <div class="alert alert-danger red" role="alert" id="myAlert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= alert %>
  </div>
<% end %>
