<div class="fond-gris invisible" id="myFooter">
  <div class="display-categories">
    <div id="fermer"><i class="fas fa-times"></i></div>
    <div class="from-titre">
      <p>What kind of memory do you want to add?</p>
    </div>
    <div class="conteneur-ajout">
      <div class="row">
        <div class="col-md-6" id="separateur">
          <p>From your computer</p>
          <div class="row">
            <div class="col-md-3">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="photo">
                  <i class="fas fa-image"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="video">
                  <i class="fas fa-video"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="quote">
                  <i class="fas fa-quote-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="link">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>From your favorite apps</p>
          <div class="row">
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="youtube">
                  <i class="fab fa-youtube"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="spotify">
                  <i class="fab fa-spotify"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="instagram">
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


