<div class="fond-gris invisible" id="myFooter">
  <div class="display-categories">
    <div id="fermer"><i class="fas fa-times"></i></div>
    <div class="from-titre">
      <p>What kind of memory do you want to add?</p>
    </div>
    <div class="conteneur-ajout">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="photo">
                  <%= link_to modal_photo_path do%>
                    <i class="fas fa-image"></i>
                  <% end  %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="video">
                  <%= link_to modal_video_path do%>
                    <i class="fas fa-video"></i>
                  <% end  %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-categories">
                <div class="picto-to-click" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static" data-categorie="quote">
                  <%= link_to modal_quote_path do%>
                    <i class="fas fa-quote-right"></i>
                  <% end  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


