<div class="modal fade bd-example-modal-lg" id="modal-ajout" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div id="fermer-modal-ajout" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static">
          <i class="fas fa-times"></i>
        </div>
        <div class="conteneur-modal-ajout">
          <p>dsjbfzljbfzli</p>
        </div>
      </div>
    </div>
  </div>
</div>
