<div class="profile-banner">
  <div class="conteneur-profile-banner">
    <h2>Connect your @ccounts</h2>
    <h3>Click on one of the icon to connect your account to your Life Pod</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= image_tag 'spotify_logo.png', class: "profile-banner-logo-spotify" %>
          <i class="fas fa-check-circle"></i>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= image_tag 'instagram_logo.png', class: "profile-banner-logo" %>
          <i class="fas fa-check-circle"></i>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= image_tag 'facebook_logo.png', class: "profile-banner-logo-fb" %>
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= image_tag 'youtube_logo.png', class: "profile-banner-logo" %>
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>
