<div class="searchbar">
  <%= form_tag memories_path, method: :get, enforce_utf8: false do %>
  <%= select_tag "stamp[]", options_for_select(
      Stamp.all.
      map { |stamp| stamp.title }),
      class: 'searchbar-search select2',
      multiple: "multiple" %>
  <%= button_tag(type: "submit", class: "searchbar-submit") do %>
      <i class="fas fa-search"></i>
    <% end %>
      <% end %>
 </div>
