<div class="conteneur-memories" id="container">
  <h1 class="text-center font-weight-bold">Here is the best content we have selected for you</h1>
</div>

<div class="row">
  <div class="d-none d-md-block col-md-2">
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8">

      <div class="card-columns">
        <div class="card card-pola" id="versCategories">
          <div class="image-container">
            <div class="card-img" id="fixed">
              <h3 class="text-center font-weight-bold">Add a memory from another source</h3>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Add your <strong>personal content</strong></p>
          </div>
        </div>
      </div>

  </div>

  <div class="d-none d-md-block col-md-2">
  </div>

</div>

<%= render 'shared/footerbleu' %>

<%= render 'shared/smallfooterbleu' %>


<%= javascript_pack_tag 'smallFooter' %>
<%= javascript_pack_tag 'footer' %>
