<div class="small-display-categories" id="mySmallFooter">
  <div class="small-conteneur-ajout">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="photo">
              <%= link_to modal_photo_path do%>
                <i class="fas fa-image"></i>
              <% end  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="video">
              <i class="fas fa-video selected-picto"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="quote">
              <%= link_to modal_quote_path do%>
                <i class="fas fa-quote-right"></i>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL VIDEO -->

<%= render 'shared/modalvideo' %>
