// card-columns
.card-columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 1.25rem;
  display: inline-block;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}

// cards

.macard {
  border-radius: 1px;
  background: $gris;
  // box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.macard:hover{
  transition: all 0.3s ease;
  opacity: 0.8;
}
// cards-top

.card-img {
  border-radius: 1px;
  background-color: $red2;
}

.image-container {
  padding: 15px;
  padding-bottom: 0px;
  position: relative;
}

.image-container h3 {
  text-align: right;
  color: white;
  font-size: 15px;
  margin: 0px;
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.image-container p {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
}


// links
a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

// calendrier en haut à gauche

.calendar-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url("calendar-page-empty.svg");
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 16px;
  padding-left: 35px;
}

img#calendar {
  margin-right: 0px;
  width: 20%;
  height: 20%;
}

// card add manually

#fixed {
  height: 153px;
}

#fixed.card-img {
  background-color: $red2;
}

#fixed.card-img h3 {
  position: relative;
  top: calc(100px - 58px);
  left: 0px;
  font-size: 23px;
  color: white;
}



