// card-columns
.card-columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 2.7rem;
  display: inline-block;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}

// cards

.card {
  cursor: pointer;
}

.card-pola {
  border-radius: 1px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
  background: $gris;
}

.card-pola:hover{
  transition: all 0.3s ease;
  opacity: 0.8;
}

.card-quote {
  background: $bleumarine;
  border-radius: 3px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}

.card-quote:hover{
  transition: all 0.3s ease;
  opacity: 0.8;
}

// cards-top

.card-img {
  border-radius: 1px;
}

.card-img.fond {
  background-color: $bleumarine;
  height: 153px;
}

.image-container {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
}

.image-container h3 {
  text-align: right;
  color: white;
  font-size: 15px;
  margin: auto;
  margin-left: 15px;
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.image-container h2 {
  text-align: right;
  color: white;
  font-size: 17px;
  margin: auto;
  margin-left: 15px;
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.image-container p {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
}

//card bottom

.card-body {
  h3 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.quote {
  position: relative;
  letter-spacing: .03em;
  margin-bottom: .5rem;
}

.quote:before {
  content: "“";
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  left: -.6em;
}
.quote:after {
  content: "”";
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: -.5em;
}


// links
a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
  text-decoration: none;


}

// calendrier en haut à gauche

.calendar-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url("heart-solid.svg");
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 16px;
  padding-left: 35px;
}

.calendar-left-2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url("calendar-page-empty.svg");
  margin: 0px;
  padding-left: 35px;
}

img#calendar {
  margin-right: 0px;
  width: 20%;
  height: 20%;
}

// card add manually

#fixed {
  height: 153px;
}

#fixed.card-img {
  background-color: $red2;
}

#fixed.card-img h3 {
  position: relative;
  top: calc(100px - 80px);
  left: -7px;
  font-size: 23px;
  color: white;
}

// card spotify

.card-spotify {
  box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}

.image-container-spotify {
  position: relative;
  h2 {
    text-align: right;
    color: white;
    font-size: 17px;
    margin: auto;
    margin-left: 15px;
    position: absolute;
    bottom: 25px;
    right: 20px;
  }
  h3 {
    text-align: right;
    color: white;
    font-size: 15px;
    margin: auto;
    margin-left: 15px;
    position: absolute;
    bottom: 8px;
    right: 20px;
  }
  p {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  }
}

.center3 {
  width: 90px;
  position: absolute;
  top: 30px;
  left: 49.3px;
}

// card add spotify

.center {
  width: 40px;
  position: absolute;
  top: 18px;
  left: 18px;
}

.center2 {
  width: 55px;
  position: absolute;
  top: 10px;
  left: 10px;
}


