.dashboard-banner {
  width: 100vw;
  height: 140px;
  background-color: $red2;

}

@media (max-width:375px) {
  .dashboard-banner{
    height: 100%;
  }
}


.dashboard-banner h2 {
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 0px;
  font-weight: thin;
}

.total-memories {
  padding: 15px;
  overflow-wrap: break-word;
}

.dashboard-banner p {
  color: white;
}
// icones

.taille-petite {
  height: 50px;
  margin-left: 8px;
}

.marg {
  margin-bottom: 1px;

}

// viz

.box-viz {
  display: flex;
  align-items: center;
}

.icon {
  padding: 15px;
}

.count {
  margin-bottom: 15px;
  p {
    margin-bottom: 0px;
  }
}

.espace {
  margin-bottom: 50px;
}
