.dashboard-banner {
  width: 100vw;
  height: 140px;
  background-color: $bleumarine;
}

.dashboard-banner h2 {
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 0px;
  font-weight: thin;
}

.total-memories {
  padding-top: 15px;
}

.dashboard-banner p {

  color: white;
}
