// MODAL D'AJOUT


.modal-lg {
  max-width: 100vw;
  width: 80%;
}

.modal-content {
  background-color: $gris;
}

.conteneur-modal-ajout {
  margin: 0px 10px;
}

.conteneur-modal-ajout h1 {
  text-align: center;
}

.cadre-photo {
  background-color: $gris;
  max-height: 300px;
  max-width: 568px;
  margin: 50px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    box-shadow: 0px 0px 10px grey;
    max-height: 300px;
  }
}

.stamps-form {
  background-color: white;
  display: block;
  width: 100%;
  height: calc(4rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-add-button {
  display: flex;
  justify-content: center;
  width: 100rem;
}
