.m-body {
  height: 500px;
  padding: 0px;
}

.med-left {
  background-color: #C4C4C4;
  height: 500px;
}

.med-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  padding: 20px;
}

.med-body {

  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;

  }
}
