
.conteneur-grid {
  margin: 5px;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr 3fr 1.5fr;
  max-height: 450px;
}

.image-grid {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  max-height: 450px;
  overflow: auto;
  margin-right: 20px;
   > a {
  margin: auto 0px;
  }
}

.title-grid {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  margin: 3px
}

.paraph-grid {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  max-height: 300px;
  overflow-y: auto;
  > p {
    margin: auto  3px;
  }

}

.tag-grid {
  grid-row: 3 / span1;
  grid-column: 2 / span 1;
  max-width: 350px;
  overflow-x: auto;

  > img {
  margin: 3px auto;
  }
}

