
.conteneur-grid {
  margin: 5px;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 0.2fr 1fr 2.3fr 2fr;
  max-height: 450px;
}

.image-grid {
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
  max-height: 450px;
  overflow: auto;
  margin-right: 20px;
   > a {
  margin: auto 0px;
  }
}

.edit-delete-grid  {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  margin: 3px


}
.edit-delete-grid i {
  font-size: 20px;
  margin: 0px 7px;
}
.edit-delete-grid i:hover {
  cursor: pointer;
}

.title-grid {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin: 3px
}

.paraph-grid {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  max-height: 300px;
  overflow-y: auto;
  > p {
    margin: auto  3px;
  }

}

.tag-grid {
  grid-row: 4 / span1;
  grid-column: 2 / span 1;
  max-width: 350px;
  overflow-x: auto;

  > img {
  margin: auto 5px;
  }
}


// SPOTIFY TRICKS

.player-spotify {
  z-index: 100;
  position: absolute;
  color: white;
  font-weight: bold;
  left: 245px;
  bottom: 186px;
}

.player-spotify i {
  transition: 0.3s;
}

.player-spotify i:hover {
  transform: scale(1.05);
  cursor: pointer;
}
