// Side bar avec stamps

#sidebar {
  padding-top: 10px;
  position: fixed;
  width: 150px;
  top : 250px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}
#page-content {
  margin-left: 150px;
  margin-right: 150px;
}

#sidebar img {
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100px;
  display: block !important;
  margin: auto;
  margin-left: 25px;
  margin-right: 0px;
}

.padding {
  padding-right: 25px;
}
#sidebar h4 {
  padding-right: 25px;
  padding-bottom: 10px;
  font-size: 24px;
}

// modal
.middle {
  position: relative;
  top: 41px;
}

.middle-modal {
  position: relative;
  top: 4px;
  left: 20px;
}

