label {
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.cloudinary-fileupload {
  font-family: "Raleway", "Helvetica", "sans-serif";
  input[type=file] {
    background-color: white;
  color: $red2;
  }
}

#memory_photo {
   font-family: "Raleway", "Helvetica", "sans-serif";

}
