.stamp2, .stamp3, .stamp4, .stamp5, .stamp6, .stamp7, .stamp8, .stamp9, .stamp10, .stamp11, .stamp12, .stamp13 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  p {
    margin-top: 4px;
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 17px;
    white-space: nowrap;
    font-weight: bold;
    background-color: white;
  }
}

.stamp2 {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  background-image: image-url("2.svg");
  color: $bleumarine;
}
.stamp3 {
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  background-image: image-url("3.svg");
  color: $violet;
}
.stamp4 {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  background-image: image-url("4.svg");
  color: $red2;
}
.stamp5 {
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  background-image: image-url("5.svg");
  color: $bleumarine;
}

.stamp6 {
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  background-image: image-url("6.svg");
  color: $violet;
}
.stamp7 {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-image: image-url("7.svg");
  color: $red2;
}

.stamp8 {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  background-image: image-url("8.svg");
  color: $saumon;
}
.stamp9 {
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  background-image: image-url("9.svg");
  color: $saumon;
}
.stamp10 {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  background-image: image-url("10.svg");
  color: $bleumarine;
}
.stamp11 {
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  background-image: image-url("11.svg");
  color: $violet;
}

.stamp12 {
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  background-image: image-url("12.svg");
  color: $red2;
}
.stamp13 {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-image: image-url("13.svg");
  color: $saumon;
}

// stamp
.stamp {
  height: 150px;
}

.padding-stamps {
  padding-left: 10px;
  padding-right: 10px;
}
