<%= render 'shared/dashboard' %>

<div class="container">
  <div class="card-columns">
    <% @memories.each do |memory|%>
      <div class="card">
        <div class="image-container">
          <%= image_tag "Book.svg", id: "box", class: "card-img"%>
          <p class="calendar-left">memory.created_at</p>
          <h3><%= memory.title %></h3>
        </div>
        <div class="card-body">
          <% memory.stamps.each do |stamp|%>
            <p class="card-text">stamp.title</p>
          <% end%>
        </div>
      </div>
    <% end%>
  </div>
</div>
