// Graphical variables

@import "config/colors";
@import "config/fonts";
// External libraries
@import "bootstrap/functions";
@import "config/bootstrap_variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  background-color: white;
}

h1, h2, h3 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
}
